default: &default
  adapter: mysql2
  encoding: utf8
  username: 
  password: 
  host: 127.0.0.1
  port: 3306

development:
  <<: *default
  database: development_wtv

test:
  <<: *default
  database: test_wtv

production:
  <<: *default
  database: production_wtv
